@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f6f7fb;
  font-family: 'Ms Madi', cursive;
  text-align: center;
  overflow: hidden;
  margin: 0;
}

h3 {
  margin-bottom: 0;
  text-align: center;
}

small {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.fa-heart {
  color: red;
}

.loveMe {
  height: 440px;
  width: 300px;
  background: url('https://picsum.photos/500/300') no-repeat center center/cover;
  margin: auto;
  cursor: pointer;
  position: relative;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}